.spec-name {
    width: 100%;
}

.spec-doctors, .spec-date {
    width: 25%;
    max-width: 300px;
}

.spec-doctors {
  text-align: center;
}


.spec-name p {
    cursor: pointer;
    color: rgb(45, 109, 206);
  }



.spec-name p:hover {
text-decoration: underline;
  }